
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
    <div  class="form-horizontal">
        Регистрация на событие прошла успешно<br />
        <a href="/Event/EventForm" class="btn btn-default">Home</a>
    </div>
</body>
</html>
