@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Participant</title>
</head>
<body>
    <div  class="form-horizontal">
        Partcipants <br />
        @foreach (var p in ViewBag.Participants)
        {
            @p.Email<br />
        }
        <a href="/Event/EventForm" class="btn btn-default">Home</a>
    </div>
</body>
</html>
